/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 déc. 2024, 11:56:56
    Author     : souis
*/
.menu-item {
    -fx-background-color: linear-gradient(to bottom right, #2196F3, #1E88E5);
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: linear-gradient(to bottom right, #64B5F6, #42A5F5);
}

.menu-item:focused {
    -fx-border-color: white;
    -fx-border-width: 2;
}

